
<h1>Registrazione</h1>
<br>
<form (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Inserisci il nome" name= "nome"  required [formControl]="nome">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Cognome</mat-label>
        <input matInput placeholder="Inserisci il cognome" name= "cognome"  required [formControl]="cognome">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <br>    
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Inserisci lo username" name= "username" required [formControl]="username">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder=" Inserisci la password" name="password" required [formControl]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit" name="btninvia">Invia</button> 
</form>
