/* sfondo */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  background: linear-gradient(to top, #c7e8ff, #ecf0f1);
}
.regContainer{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ecf0f1;
  width: 30%;
  margin-right: 5%;
  border-radius: 8px;
  height: 600px;
}

.sbarra{
  background-color: rgb(0, 176, 240);
  border-radius: 8px;
  height: 20px;
}
/* titolo */

h1 {
  transform: translateY(40px);
  position: static;
  font-size: 40px;
  text-align: center;
  color: black;
  text-decoration:solid;
  font-weight: bold;
}
/* form  */

  form {
    text-align: center;
    margin-top: 100px;
  }


button[name="btninvia"] {
  margin-top: 12%;
  background-color: rgb(0, 176, 240);
  color: white;
  display:inline-block;
  transform: translateY(-10px);
}





