
<h1>Registrazione</h1>
<br>
<form #homeform="ngForm" (ngSubmit)="onSubmit(homeform)">
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Inserisci il nome" name= "nome" required [formControl]="nome">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Cognome</mat-label>
        <input matInput placeholder="Inserisci il cognome" name= "cognome" required [formControl]="cognome">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Data di nascita</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Data di Nascita" name="datanascita" required [formControl]="datanascita"> 
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>      
      <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput type="email" placeholder="Inserisci l'email" name= "email" required [formControl]="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <br>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Inserisci lo username" name= "username" required [formControl]="user">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder=" Inserisci la password" name="password" required [formControl]="pass">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Authcode</mat-label>
        <input matInput type="password" placeholder=" Inserisci il security code" name= "Authcode" required [formControl]="authcode">
        <mat-icon matSuffix>shield</mat-icon> 
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit" name="btninvia" [disabled]="!homeform.valid">Invia</button> 
</form>
