<div class="container">
  <mat-card class="NFT">
    <mat-card-header>
      <mat-card-title>{{ nft.title }}</mat-card-title>
      <mat-card-subtitle>{{ nft.tags }} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="imageUrl" [src]="imageUrl" />
    <mat-card-content>
      <p id="tit"><b>Descrizione:</b></p>
      <p id="comp">{{ nft.caption }}</p>
    </mat-card-content>
  </mat-card>
  <div class="cont">
    <h1 style="font-size: 60px"><b>Congratulazioni!</b></h1>
    <h2>Utente si è aggiudicato {{nft.title}}, per la modica cifra di 
      <p id="prezzo" *ngIf="nft.price<=200" id="comp"> {{nft.price}} ETH </p>
      <p id="prezzo" *ngIf="nft.price>200" id="comp">{{nft.price}} $</p>
    </h2>
  </div>
</div>
