/* sfondo */
:host {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to top, #c7e8ff, #ecf0f1);
  }
.loginContent {
  margin: 10%;
  margin-top: 8%;
  margin-left: 31%;
  width: 30%;
  height: 500px !important;
  background-color: #ecf0f1;
  border-radius: 10px;
  z-index: -1;
  align-content: center;
  height: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sbarra{
  background-color: rgb(0, 176, 240);
  border-radius: 8px;
  height: 20px;
}
/* titolo */
h1 {
    transform: translateY(40px);
    position: static;
    text-align: center;
    color: black;
    text-decoration:solid;
    font-weight: bold;
    font-size: 40px;
  }
.imgUtente{
  margin-left: 40%;
  margin-top: 18%;
}


/* form  */
form {
  text-align: center;
  margin-top: 200px;
}
  button[name="btninvia"] {
    margin-top: 12%;
    background-color: rgb(0, 176, 240);
    color: white;
    display:inline-block;
  }
