
html,body{
  margin: 0;
    padding: 0;
    height: 100%;
    
}

:host {
    display: block;
    background: url('../../../assets/img/blu.avif') no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
    
  }

  .NFT {
    max-width: 250px;
    max-height: 360px;
  }
  
  .NFT-header-img {
    background-image: url('../../../assets/img/monkey.jpg');
    background-size: cover;
    
  }

  .imagecard{
    max-width: 250px;
    max-height: 190px;
  }
