
html,body{
  margin: 0;
    padding: 0;
    height: 100%;
}

:host {
    display: block;
    background: linear-gradient(to top, #c7e8ff, #ecf0f1);
  }

  .NFT {
    max-width: 250px;
    max-height: 360px;
  }

  .NFT-header-img {
    background-image: url('../../../assets/img/monkey.jpg');
    background-size: cover;

  }

  .imagecard{
    max-width: 250px;
    max-height: 190px;
  }

