
/* barra di ricerca */

.search-container {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #00FF00;
    padding: 8px;
    border-radius: 8px;
    border-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 10px; 
    left: 35%; 
    width: 400px; 
    height: 22.5px; 
  }
  
  #searchInput {
    flex-grow: 1;
    border: none;
    padding: 8px;
    background-color: #00FF00;
    font-size: 16px;
    border-color: transparent;
  }


#searchInput:focus {
    outline: none;
}
 

/* menu destra*/

.menudestra {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  button[name="menubottone"] {
    background-color: #3498db; /* Colore di sfondo */
    color: #fff; /* Colore del testo */
    padding: 10px 15px; /* Spaziatura interna */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Angoli arrotondati */
    cursor: pointer;
  }
  
  button[name="menubottone"]:hover {
    background-color: #2980b9; /* Cambia il colore di sfondo al passaggio del mouse */
  }
  
  .mat-menu-panel {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombra leggera per il menu */
  }
  
  button[name="profiloutente"],
  button[name="galleria"] {
    text-align: left; /* Allinea il testo a sinistra */
    padding: 10px; /* Spaziatura interna */
  }
  
  button[name="profiloutente"]:hover,
  button[name="galleria"]:hover {
    background-color: #ecf0f1; /* Cambia il colore di sfondo al passaggio del mouse */
  }

  
  /* shopnft */


  

button[name="btncompraora"] {
  display: flex;
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: 100px;
  left: 130px;
  
}

button[name="btncompraora"] mat-icon {
  margin-right: 8px;
}

button[name="btncompraora"]:hover {
  background-color: #2980b9;
}

button[name="btnaste"] {
  display: flex;
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: 52px;
  left: 20px;
}

button[name="btnaste"] mat-icon {
  margin-right: 8px;
}

button[name="btnaste"]:hover {
  background-color: #2980b9;
}
