
:host{
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-container {
  width: 1520px;
  height: 700px;
  margin: 0;
  padding:0;
  overflow: hidden;
}
.mat-elevation-z8{
  background: linear-gradient(to bottom, rgba(0, 0, 0), rgba(61, 61, 92));
  padding: 0;
  margin: 0;
}

.side{
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgb(61, 61, 92),rgba(0, 0, 0));
  width: 180px;
}

mat-list-item{
  background: linear-gradient(to bottom, rgba(84, 172, 204), rgba(99, 108, 176));
}

.logImg {
  position: absolute;
  top: 5px;
  right: 100px;
  z-index: 1;
}
.btnlogout{
  margin-left: 2550%;
  border-radius: 16px;
}
.logbuttons{
  margin-left: 1000px;
  display: flex;
  width: 82px;
}
.logbuttons button {
  border-radius: 8px;
  height: 35px;
  width: 90px;
}
.login-link,
.register-link {
  margin-right: 15px;
  text-decoration: none; /* Rimuove la sottolineatura del link */
}
.logo{
  padding-top: 25px;
}

/*BOTTONI SIDE*/
button{
  display: flex;
  background: linear-gradient(to bottom, rgba(84, 172, 204), rgba(99, 108, 176));
  color: #fff;
  width: 150px;
  border-radius: 2px;
}

button[name="btncompraora"] mat-icon {
  margin-right: 8px;
}
button[name="btncompraora"]:hover {
  background-color: #2980b9;
}

button[name="btnaste"] mat-icon {
  margin-right: 8px;
}
button[name="btnaste"]:hover {
  background-color: #2980b9;
}

/*BARRA DI RICERCA*/
.search-container {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 8px;
  border-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 10px;
  left: 35%;
  width: 400px;
  height: 24px;
  z-index: 1;
}
#searchInput {
  flex-grow: 1;
  border: none;
  padding: 8px;
  font-size: 16px;
  border-color: transparent;
  border-radius: 18px;
  z-index: 1;
  height: 24px;
}
/* Altri stili rimasti invariati */
#searchInput:focus {
  outline: none;
}
