body {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 1520px;
  height: 100vh;
  margin: 0;
  padding:0;
  overflow: hidden;
}
.mat-elevation-z8{
  /*background: linear-gradient(to bottom, rgba(0, 0, 0), rgba(61, 61, 92));*/
  background-color: rgb(0, 176, 240);
  padding: 0;
  margin: 0;
}

.side {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 176, 240);
}
mat-list-item{
  /*background: linear-gradient(to bottom, rgba(84, 172, 204), rgba(99, 108, 176));*/
  background-color: rgb(0, 176, 240);
  border: 1px solid white;
}

.logImg {
  position: absolute;
  top: 15px;
  right: 100px;
  z-index: 1;
}
.btnlogout{
  left: 10%;
  border-radius: 16px;
}
.logbuttons{
  margin-left: 1200px;
  display: flex;
  width: 82px;
}
.logbuttons button {
  border-radius: 8px;
  height: 35px;
  width: 90px;
}
.login-link,
.register-link {
  margin-right: 15px;
  text-decoration: none; /* Rimuove la sottolineatura del link */
}

/*BOTTONI SIDE*/
button{
  display: flex;
  /*background: linear-gradient(to bottom, rgba(84, 172, 204), rgba(99, 108, 176));*/
  background-color: rgb(0, 176, 240);
  color: #fff;
  width: 160px;
  border-radius: 2px;

}

/*BARRA DI RICERCA*/
.search-container {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 8px;
  border-color: transparent;
  top: 10px;
  left: 35%;
  width: 400px;
  height: 24px;
  z-index: 1;
}
#searchInput {
  flex-grow: 1;
  border: none;
  padding: 8px;
  font-size: 16px;
  border-color: transparent;
  border-radius: 18px;
  z-index: 1;
  height: 24px;
}
/* Altri stili rimasti invariati */
#searchInput:focus {
  outline: none;
}
