<div class="app-container">
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Cerca..." />
    </div>
    <img src="../../../assets/img/nftLogo.png" class="logo" width="150" height="120">
    <div *ngIf="isUserLoggedIn(); else showLoginButtons">
      <div class="utente">
        <a [routerLink]="['/user']">
          <img src="../../../assets/img/log.png" width="50" height="50" class="logImg">
        </a>
      </div>
      <button mat-icon-button (click)="logout()" class="btnlogout">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
    <ng-template #showLoginButtons>
      <div class="logbuttons">
        <a [routerLink]="['/login']" class="login-link">
          <button mat-fab extended color="primary" name="btnlog">LOGIN</button>
        </a>
        <a [routerLink]="['/register']" class="register-link">
          <button mat-fab extended color="primary" name="btnregistrati">REGISTRATI</button>
        </a>
      </div>
    </ng-template>

  </mat-toolbar>
  <mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer mode="side" opened="true" class="side">
      <mat-nav-list class="list">
        <mat-list-item class="buy">
          <div class="paginahome">
            <button mat-fab extended color="primary" name="btnhome" [routerLink]="['/home']">
              <mat-icon>home</mat-icon> Home
            </button>
          </div>
        </mat-list-item>
        <mat-list-item class="buy">
          <div class="paginacompraora">
            <button mat-fab extended color="primary" name="btncompraora" [routerLink]="['/buy-now']">
              <mat-icon>store</mat-icon> Compra ora
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="paginaaste">
            <button mat-fab extended color="primary" name="btnaste" [routerLink]="['/auctions']">
              <mat-icon>gavel</mat-icon> Aste
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="paginacrea">
            <button mat-fab extended color="primary" name="btncrea" [routerLink]="['/createnft']">
              <mat-icon>create</mat-icon> Crea NFT
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="paginagalleria">
            <button mat-fab extended color="primary" name="btngalleria" [routerLink]="['/gallery']">
              <mat-icon>perm_media</mat-icon> Galleria
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="paginapreferiti">
            <button mat-fab extended color="primary" name="btnpreferiti" [routerLink]="['/favourites']">
              <mat-icon>stars</mat-icon> Preferiti
            </button>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

</div>

