

<div class="contieni">
  <div class="sbarra">
    <h1>Crea il tuo NFT</h1>
  </div>
<form #homeform="ngForm" (ngSubmit)="onSubmit(homeform)">
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Inserisci il nome" name= "nome" required ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Tag</mat-label>
        <input matInput placeholder="Inserisci i tag" name= "tag" required ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Descrizione</mat-label>
        <input matInput placeholder="Inserisci la descrizione" name= "descr" required ngModel>
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Prezzo</mat-label>
        <input matInput placeholder="Inserisci il prezzo" name= "prezzo" required ngModel>
    </mat-form-field>
    <br>
    
    <div class="immagine">
    <mat-label class="custom-label">Carica un'immagine</mat-label>
    <br> <br>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none" #fileInput name="immagine" required ngModel [(ngModel)]="img">
    <button mat-raised-button  type="button" name="btnscegli" (click)="fileInput.click()">Scegli un file</button>
    </div>

    <button mat-raised-button type="submit" name="btninvia" [disabled]="!homeform.valid">Crea Nft</button>

    <div class="footer">
        <p>*L'NFT verrà aggiunto alla tua galleria</p>
    </div>

    <div class="viewimg">
        <img *ngIf="imageUrl" [src]="imageUrl">
    </div>
</form>
</div>






