:host {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to top, #c7e8ff, #ecf0f1);
  }

.contieni {
  background-color: #ecf0f1;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 10px;
  top: 3px;
  position: fixed;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.sbarra{
  background-color: rgb(0, 176, 240);
  align-content: center;
  border-radius: 8px;
}
  /* titolo */
h1 {
  transform: translate(-370px, 50px);
  position: static;
  font-size: 42px;
  text-align: center;
  color: black;
  text-decoration: solid;
  font-weight: bold;
}


  /* form  */
  form {
    text-align: left;
    margin-top: 80px;
    margin-left: 100px;
  }

  button[name="btninvia"] {
    background-color: rgb(0, 176, 240);
    color: white;
    display:inline-block;
    transform: translate(470px,-10px);
  }

  button[name="btnscegli"] {
    background-color: rgb(0, 176, 240);
    color: white;
  }

  .custom-label{
    color: black;
    font-size: 15px;
  }

  .immagine{
    transform: translate(650px,-100px);
  }

  .viewimg{
    transform: translate(300px,-380px);
    max-height: 320px;
    max-width: 320px;
  }

  .viewimg img{
    max-height: 320px;
    max-width: 320px;
  }

.footer{
  transform: translate(600px,-30px);
  color: black;
  font-size: 15px;
}
