<h1>{{nftmodel.title}}</h1>
<div class="container">
  <div class="sbarra"></div>
  <mat-card class="NFT">
    <mat-card-header>
      <div mat-card-avatar class="NFT-header-img"></div>
      <mat-card-title>{{nftmodel.title}}</mat-card-title>
      <mat-card-subtitle> {{nftmodel.tagsAsString}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="imageUrl" [src]="imageUrl">
    <mat-card-content>
      <p *ngIf="nftmodel && nftmodel.author">
        {{nftmodel.caption}}
        <br>
        {{nftmodel.author.username}}
      </p>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="btnmettiven" (click)="mettiinvendita()" style="background-color: rgb(0, 176, 240); color: white ">Metti in vendita</button>
    </mat-card-actions>
  </mat-card>

  <div class="sellCont">
    <div class="vendere" *ngIf="vuoivendere">
      <mat-form-field>
        <mat-label>Tipo di vendita</mat-label>
        <mat-select [(ngModel)]="tipovendita" >
          <mat-option value="null">Null</mat-option>
          <mat-option value="compraora">Compra ora</mat-option>
          <mat-option value="asta">Asta</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="comprasubito" *ngIf="vuoivendere && tipovendita == 'compraora' ">
      <mat-form-field>
        <mat-label>Inserisci prezzo</mat-label>
        <input matInput [(ngModel)]="price" required>
        <input matInput required [(ngModel)]="prezzobuynow">
        <mat-icon matSuffix>monetization_on</mat-icon>
      </mat-form-field>
    </div>

    <div class="asta" *ngIf="vuoivendere && tipovendita == 'asta' ">
      <mat-form-field>
        <mat-label>Inserisci prezzo iniziale</mat-label>
        <input matInput [(ngModel)]="price" required>
        <input matInput required [(ngModel)]="prezzoauction">
        <mat-icon matSuffix>monetization_on</mat-icon>
      </mat-form-field>
    </div>

    <div class="asta2" *ngIf="vuoivendere && (tipovendita == 'asta' || tipovendita == 'compraora')">
      <mat-form-field>
        <mat-label>Imposta inizio</mat-label>

        <input matInput placeholder="HH:mm" [(ngModel)]="" required>

        <input matInput placeholder="HH:mm" required [(ngModel)]="datavendita">

      </mat-form-field>
    </div>
    <div class="asta3" *ngIf="vuoivendere && tipovendita == 'asta' ">
      <mat-form-field>
        <mat-label>Durata</mat-label>
        <input matInput placeholder="HH:mm" [(ngModel)]="" required>

        <input matInput placeholder="HH:mm" required [(ngModel)]="fineasta">

      </mat-form-field>
    </div>

    <div class="btnvendi" *ngIf="vuoivendere && (tipovendita=='compraora' || tipovendita=='asta')">
      <button mat-raised-button type="submit" name="btnvendi2" (click)="vendi()">Vendi</button>
    </div>
  </div>
</div>




