:host {
  display: block;
  margin: 0;
  padding: 0;
  height: 100vh; /* 100% of the viewport height */
  background: linear-gradient(to top, #c7e8ff, #ecf0f1);
}
.container{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ecf0f1;
  border-radius: 8px;
  margin-left: 10%;
  margin-right: 10%;
  height: 85%;
}
.sbarra{
  background-color: rgb(0, 176, 240);
  border-radius: 8px;
  height: 20px;
}
  /* titolo */

h1 {
  transform: translate(-260px,75px);
  position: static;
  font-size: 45px;
  text-align: center;
  color: black;
  text-decoration:solid;
  font-weight: bold;
}
.NFT {
  transform: translate(150px,50px);
  max-width: 400px;
}

.NFT-header-img {

  background-size: cover;
}
.sellCont{
  background-color: #c7e8ff;
  bottom: 50%;
  width: 30%;
  height: 60%;
  transform: translate(670px, -400px);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #00bfff;
}
.vendere{
  margin-top: 25px;
}

.comprasubito {
  text-align: right;
}

.asta{
  text-align: right;
}

.asta2 {
  text-align: right;
}


  button[name="btnvendi2"] {
    background-color: rgb(0, 176, 240);
    color: white;
    display:inline-block;
  }

  .btnvendi{
    text-align: right;
  }


