<div class="container">
  <div class="sbarra"></div>
    <h1>Gestione Profilo</h1>
<form #homeform="ngForm" (ngSubmit)="onSubmit(homeform)">
<mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput  name="camponome"  [disabled]="campiattivi" required ngModel [(ngModel)]="userdata.name">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Cognome</mat-label>
    <input matInput  name="campocognome" [disabled]="campiattivi" required ngModel [(ngModel)]="userdata.surname">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput  name="campousername"  [disabled]="forever" required ngModel [(ngModel)]="userdata.username">
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" name="campopassword" [disabled]="campiattivi" required ngModel [(ngModel)]="userdata.encrypted_pw">
    <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <button mat-raised-button type="button" name="btnmp" (click)="abilitacampi()">Modifica Profilo</button>
  <button mat-raised-button type="submit" name="btnsm" >Salva Modifiche</button>
</form>

</div>

<div class="portfolio-container">
  <div class="sbarra"></div>
  <form (ngSubmit)="inviaForm(walletForm)" #walletForm="ngForm">
      <h1 class="wallet">Wallet</h1>
      <img src="assets/img/walletImg.png" width="50" height="50" class="walletImg">

      <mat-form-field class="eur">
        <mat-label>EUR wallet</mat-label>
        <input matInput name="EURwallet" disabled required ngModel>
      </mat-form-field>

      <mat-form-field class="eth">
        <mat-label>ETH wallet</mat-label>
        <input matInput name="ETHwallet" disabled required ngModel>
      </mat-form-field>

      <mat-form-field class="seleziona">
        <mat-label>Scegli wallet</mat-label>
        <mat-select placeholder="Scegli wallet" name="selectedWallet" ngModel>
          <mat-option value="opzione1">EUR Wallet</mat-option>
          <mat-option value="opzione2">ETH Wallet</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="indirizzo">
        <mat-label>Indirizzo:</mat-label>
        <input matInput type="text" placeholder="Inserisci indirizzo" class="indirizzo" name="indirizzo" ngModel>
      </mat-form-field>

      <button mat-raised-button class="invia" type="submit" [disabled]="!walletForm.valid">Invia</button>

  </form>

</div>






