:host {
    display: block;
    margin: 0;
    padding: 0;
    height: 110%;
    background: url('../../../assets/img/blu.avif') no-repeat center center fixed;
    background-size: cover;
  }

  /* titolo */

h1 {
    transform: translate(-400px,50px);
    position: static;
    font-size: 4em;
    text-align: center;
    color: black;
    text-decoration:solid;
    font-style: italic;
    font-weight: bold;
    text-shadow: 5px 5px 10px #00bfff; 
  }

  /* form  */

  form {
    flex: 1;
    text-align: right;
    margin-top: 70px;
    margin-right: 300px;
  }


  button[name="btnmp"] {
    position: absolute;
    right: 430px;
    background: linear-gradient(to right, black, #00bfff);
    color: white;
    display:inline-block;
    margin-left:auto;
  }

  button[name="btnsm"] {
    position: absolute;
    right: 220px;
    background: linear-gradient(to right, black, #00bfff);
    color: white;
    display:inline-block;
    margin-left:auto;
  }
  
  .container {
    display: flex;
  }
  
  .image-container img {
    transform: translate(100px,100px);
    position: static;
    max-width: 500px;
    height: auto;
  }

/* wallet  */

  .portfolio-container mat-form-field {
    transform: translate(-370px,350px);
    position: static;
  }

  .homebtn-container mat-raised-button {
    position: relative;
  }

  /* home */

  button[name="btnhome"] {
    background: linear-gradient(to right, black, #00bfff);
    color: white;
    position: bottom left;
    bottom: 0;
    left:105px;
    /* margin-left: 50px; */

  }

