:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, #c7e8ff, #ecf0f1);
}

  /* titolo */

h1 {
  margin-top: 20px;
  font-size: 45px;
  color: black;
  text-decoration:solid;
  font-weight: bold;
  white-space: nowrap;
  transform: translateX(140px);
}
.container {
  margin: 10%;
  height: 70%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ecf0f1;
  border-radius: 8px;
  width: 75%;
}

  /* form  */
  form {
    flex: 1;
    text-align: right;
    margin-top: 40px;
    margin-right: 30px;
    transform: translateX(-180px);
  }
  button{

  }

button[name="btnmp"] {
  position: absolute;
  background-color: rgb(0, 176, 240);
  color: white;
  transform: translate(-300px, 15px);
}

button[name="btnsm"] {
  position: absolute;
  background-color: rgb(0, 176, 240);
  color: white;
  transform: translate(-120px, 15px);
}

/* wallet  */
.portfolio-container{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ecf0f1;
  border-radius: 8px;
  height: 75%;
  margin-right: 15%;
  width: 40%;
}
h2{
  font-size: 30px;
  color: black;
  text-decoration:solid;
  font-weight: bold;
  transform: translate(25px, -20px);
}
.portfolio-container mat-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  top: 15%;
  margin-left: 20px;
}
.wallet{
  transform: translateX(100px);
}
.walletImg{
  transform: translateX(135px);
  margin-top: 10px;
}
.sbarra{
  background-color: rgb(0, 176, 240);
  border-radius: 8px;
  height: 20px;
  width: 100%;
}
select{
  font-size: 25px;
  transform: translate(90px, -10px);
}
.eth{
  transform: translate(-10px, -20px);
}
.eur{
  transform: translate(-10px);
}
.indirizzoscritta{
  font-size: 20px;
  transform: translate(30px, 30px);
}
.indirizzo{
  transform: translate(30px, 25px);
  font-size: 20px;
}
.invia {
  background-color: rgb(0, 176, 240);
  color: white;
  display: inline-block;
  transform: translate(30px, 40px);
  border: 0px;
  border-radius: 6px;
  width: 100px;
  height: 25px;
}

