<div class="container">
  <img src="/assets/img/gifNFT.gif" class="banner" >
  <h1 class="welcome-text">BENVENUTO!</h1>
  <h1>Compra e vendi NFT</h1>
  <h2>Compra e vendi NFT tramite valuta(€) o ETH</h2>
  <img src="assets/img/compraOraPage.png"  width="920" height="600" style="margin-bottom: 20px">
  <h2>Esplora la nostra collezione unica di NFT e immergiti in un mondo di creatività senza limiti.<br>
    Scegli tra una varietà straordinaria di opere d'arte digitali
    e possiedi un pezzo di innovazione <br> blockchain che riflette il tuo stile e la tua individualità.</h2>
  <h1>Asta e Compra ora <img src="assets/img/hammer.gif" width="80" height="80"></h1>
  <h2>Compra ora per un'esperienza immediata o partecipa alle nostre emozionanti aste per <br>
    aggiudicarti esclusive opere d'arte digitali e rendere la tua collezione ancora più speciale!</h2>
  <div class="img-cont">
    <img src="assets/img/astahomeimg.png" width="600" height="400" >
    <img src="assets/img/buyhomeimg.png" width="600" height="400" style="margin-left: 20px">
  </div>
  <h1 style="margin-top: 80px">Galleria</h1>
  <h2>Acquista i tuoi NFT preferiti e ammira la loro bellezza nella nostra esclusiva galleria virtuale.<br>
    Tutti i tuoi acquisti e le tue creazione verranno mostrate all'interno di essa.</h2>
  <img src="assets/img/gallhomeimg.png" width="920" height="600">
</div>
