<div class="topContainer">

  <div class="menudestra">
    <button mat-button [matMenuTriggerFor]="menu" (click)="toggleMenu()" name="menubottone">Menu</button>
    <mat-menu #menu="matMenu" name="menumenu">
      <button mat-menu-item name="profiloutente">Profilo Utente</button>
      <button mat-menu-item name="galleria">Galleria</button>
    </mat-menu>
  </div>

  <div class="utente">
    <a [routerLink]="['/user']">
      <img src="../../../assets/img/log.png" width="50" height="50" class="logImg">
    </a>
  </div>

  <img src="../../../assets/img/nftLogo.png" class="logo" width="180" height="150">

</div>
