<h1>Galleria</h1>
<div class="container">
  <div *ngIf="ownedNFTs.length > 0; else noNFTs">
    <h2>I tuoi NFT posseduti:</h2>
    <div class="nft-list">
      <div *ngFor="let nft of ownedNFTs" class="nft-item">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ nft.title }}</h5>
            <img [src]="nft.imageUrl" (click)="info(nft.id)" class="card-img-top pointer-on-hover" alt="{{ nft.title }}">
            <p class="card-text">{{ nft.tags }}</p>
            <p class="card-text">{{ nft.caption }}</p>
            <p class="card-text">{{ nft.author.username}}</p>
            <p class="card-text">{{ nft.value }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noNFTs>
    <p>Non hai ancora nessun NFT.</p>
  </ng-template>
</div>



