:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105vh;
  background: linear-gradient(to top, #c7e8ff, #ecf0f1);
  }

.container {
  display: flex;
  width: 55%;
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 20px solid rgb(0, 176, 240);
}
  /* titolo */

h1 {
  font-size: 4em;
  text-align: center;
  color: black;
  font-weight: bold;
}

  .NFT {
    margin-left: 30px;
    width: 300px;
    height: 580px;
  }

  .NFT-header-img {
    background-image: url('../../../assets/img/monkey.jpg');
    background-size: cover;
  }

.compra{
  margin-left: 50px;
  margin-top: 100px;
}
#prezzo{
  font-weight: bold;
  font-size: 28px;
}
#cash{
  font-size: 22px;
}
  #comp {
    font-size: 18px;
  }

  #tit {
    font-weight: bold;
    font-size: 22px;
  }
.form{
  width: 280px;
}

button[name="btncompra"] {
  background-color: rgb(0, 176, 240);
  color: white;

  width: 180px;
}
button[name="btnreport"] {
  background-color: rgb(0, 176, 240);
  color: red;
  transform: translate(-130px, 250px);
}
#avv{
  transform: translate(0px, 50px);
}
#avv2{
  transform: translate(0px, 240px);
}
