<div class="container">
  <mat-card class="NFT">
    <mat-card-header>
      <mat-card-title>{{ nftmodel.title }}</mat-card-title>
      <mat-card-subtitle>{{ nftmodel.tags }} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="imageUrl" [src]="imageUrl" />
    <mat-card-content>
      <p id="tit">Descrizione:</p>
      <p id="comp">{{ nftmodel.caption }}</p>
      <br /><br />
      <p id="tit"> Possessore: </p>
      <p id="comp"> {{ nftmodel.owner.username }}</p>
      <br /><br />
    </mat-card-content>
  </mat-card>

  <div class="compra">

    <p id="prezzo"> Prezzo: {{ nftmodel.price }} $</p>
    <mat-form-field class="method">
      <mat-label>Metodo di pagamento</mat-label>
      <mat-select [(ngModel)]="selectedPaymentMethod">
        <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod">
          {{ paymentMethod }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" name="btncompra" routerLink="/home" (click)="compra()">Acquista</button>
    <p id="avv">*Una volta acquistato l'oggetto sarà disponibile<br>nella propria galleria</p>
    <p id="avv2">*Alcuni NFT potrebbero non rispettare gli standard di qualità o contenere contenuti inappropriati.<br>
      La comunità è incoraggiata a segnalare tali casi per preservare un ambiente NFT sicuro e rispettoso per tutti gli utenti.</p>
    <button mat-raised-button color="primary" type="submit" name="btnreport" routerLink="/buy-now" (click)="report()">Report</button>
  </div>


</div>
