:host {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('../../../assets/img/blu.avif') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
  }

  /* titolo */

h1 {
    transform: translate(-340px,30px);
    position: static;
    font-size: 4em;
    text-align: center;
    color: black;
    text-decoration:solid;
    font-style: italic;
    font-weight: bold;
    text-shadow: 5px 5px 10px #00bfff; 
  }

  .NFT {
    transform: translate(200px,60px);
    max-width: 400px;
  }
  
  .NFT-header-img {
    background-image: url('../../../assets/img/monkey.jpg');
    background-size: cover;
  }

 

  .nft-container{
   transform: translate(750px,-430px);
  }


  #comp {
    font-size: 18px;
  }

  #tit {
    font-weight: bold; 
    font-size: 22px;
  }

  button[name="btncompra"] {
   transform: translate(750px,-400px);
    background: linear-gradient(to right, black, #00bfff);
    color: white;

  }

  .comprasubito {
    transform: translate(950px,-440px)
  }

