:host {
  display: flex;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #c7e8ff, #ecf0f1);
  overflow: hidden;
  height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ecf0f1;
  width:80%;
  margin-left: 8%;
  border-radius: 8px;
  white-space: nowrap;
  margin-top: 5%;
  border-top: 20px solid rgb(0, 176, 240);
}

  /* titolo */

h1 {
  margin-left: 55%;
  position: static;
  font-size: 4em;
  text-align: center;
  color: black;
  font-weight: bold;
  transform: translate(-80px,-250px);
  }

.NFT {
  width: 280px;
  height: 320px;
  transform: translate(-600px);
}
.nft-container{
  transform: translate(-550px);
}

  #comp {
    font-size: 18px;
  }

  #tit {
    font-weight: bold;
    font-size: 22px;
  }

button[name="btncompra"] {
  background-color: rgb(0, 176, 240);
  color: white;
  margin-top: 10px;
  transform: translate(0px, 200px);
}

.comprasubito {
  transform: translate(-520px, -100px);
  display: flex;
  flex-direction: column;
}
button[name="btnreport"]{
  transform: translate(0px, 300px);
  background-color: rgb(0, 176, 240);
  color: red;
}
#avv2{
  transform: translate(0px, 170px);
}

