<div class="container">
  <h1>Partecipa all'asta</h1>
  <mat-card class="NFT">
    <mat-card-header>
      <mat-card-title>{{ nftmodel.title }}</mat-card-title>
      <mat-card-subtitle>{{ nftmodel.tags }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="imageUrl" [src]="imageUrl" />
    <mat-card-content> </mat-card-content>
</mat-card>

  <div class="nft-container">
    <p id="tit">Descrizione:</p>
    <p id="comp">{{ nftmodel.caption }}</p>
    <br /><br />
    <p id="tit">Possessore:</p>
    <p id="comp">{{ nftmodel.owner.username }}</p>
    <br /><br />
    <p id="tit">Offerta attuale:</p>
    <a id="comp"> {{ nftmodel.price }}</a>
    <br /><br /><br />
    <p id="tit">Durata:</p>
    <a id="comp">{{ nftmodel.durata }}</a>
  </div>

  <div class="comprasubito">
    <button mat-raised-button type="submit" name="btncompra" (click)="compra()">Fai offerta</button>
    <mat-form-field>
      <mat-label>Offerta</mat-label>
      <input matInput required>
      <mat-icon matSuffix>monetization_on</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" name="btnreport">Report</button>
    <p id="avv2">*Alcuni NFT potrebbero non rispettare gli standard di qualità o<br>contenere contenuti inappropriati.
      La comunità è incoraggiata a<br> segnalare tali casiper preservare
      un ambiente NFT sicuro e <br>rispettoso per tutti gli utenti.</p>
  </div>
</div>
