:host {
  display: flex;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #c7e8ff, #ecf0f1);
  overflow: hidden;
  height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ecf0f1;
  width:80%;
  margin-left: 8%;
  border-radius: 8px;
  white-space: nowrap;
  margin-top: 5%;
  border-top: 20px solid rgb(0, 176, 240);
}

  /* titolo */

h1 {
  margin-left: 65%;
  position: static;
  font-size: 4em;
  text-align: center;
  color: black;
  font-weight: bold;
  transform: translate(-80px,-270px);
  }

.NFT {
  width: 280px;
  height: 320px;
  transform: translate(-500px);
}
.nft-container{
  transform: translate(-450px);
}

  #comp {
    font-size: 18px;
  }

  #tit {
    font-weight: bold;
    font-size: 22px;
  }

button[name="btncompra"] {
  background-color: rgb(0, 176, 240);
  color: white;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  transform: translate(170px, 60px);
}

.comprasubito {
  transform: translate(-520px, -120px);
}
button[name="btnreport"]{
  transform: translate(-250px, 330px);
  background-color: rgb(0, 176, 240);
  color: red;
}
#avv2{
  transform: translate(80px, 340px);
}
#reportinput{
  width: 300px;
  height: 100px;
  border-radius: 8px;
  transform: translate(-220px, 330px);
}
